@charset "utf-8";


.menu li{
			list-style-type: none;
			background-color:none;
			width: 100px;
			height: 20px;
			margin: 50px 10;
			display: inline-block;
			text-align: center;
	font-family: 'Hind Siliguri', sans-serif;
}

.Vienvenida{
	font-family: 'Hind Siliguri', sans-serif;
	color: #FFFFFF;
	text-shadow: 1px 6px 1px black;
}

a:visited{
	color: aliceblue;
}

a:link{
	color:aliceblue;
}

.menu a{
	text-decoration: none;
		}
.portafolio a{
	text-decoration: none;
}.mensaje {
}


